<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel = "stylesheet" href = "aboutus.css" type = "text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <h2 class = "heading">Our Team</h2> -->
    <div >
        <ol id="navbar">
            <li id="home" class="page">Home</li>
            <li id="team">Our Team</li>
            <li id="reg" class="page">SignUp</li>
        </ol>
    </div>
    <div class="row">
    <div class="column">
        <div class="card">
        <img src="VikasPal.jpg" alt="Vikas Pal" >
        <div class="container">
            <div class="cen"> <h2 class="name1">Vikas Pal</h2></div>
            <div class="cen"> <p id="level" class="title">CEO & Founder</p></div>
            <p class = "contend">Developing high quality business strategies and plans ensuring their alignment with short-term and long-term objectives.His goal is to drive the company’s development and guide it towards long-term success.</p>
            <a id="email" href = "vikaspal72916@gmail.com">Email: vikaspal72916@gmail.com</a>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="ManasSingh.png" alt="Manas Singh">
        <div class="container">
           <div class="cen"> <h2 class="name1">Manas Singh</h2></div>
           <div class="cen"> <p id="level" class="title">Manager</p></div>
            <p class = "contend2">Lead employees using a performance management and development process that provides an overall context and framework to encourage employee contribution.</p>
            <a class="email1" href="manas300@gmail.com">Email: manas300@gmail.com</a>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="RishikeshNaware.png" alt="Rishikesh Naware" >
        <div class="container">
            <div class="cen"> <h2 class="name1">Rishikesh Naware</h2></div>
           <div class="cen"> <p id="level" class="title">Secretary</p></div>
            <p class = "contend3">Managing the daily/weekly/monthly agenda and arrange new meetings and appointments.
               Preparing and disseminating correspondence, memos and forms.</p>

            <div > <a class="email2"  href ="rishikeshnaware7@gmail.com">Email: rishikeshnaware7@gmail.com</a></div>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    </div>
</body>
<script src="aboutus.js"></script>
</html>