
    <!-- <a href="./login.ejs">login page</a>
    <a href="./register.ejs">Register page</a> -->
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <link href="animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <section id="hero">
    <div class="hero-container">
      <div class="container">
        <div class="content">
          <h2 class="animate__animated animate__fadeInDown">Online<span>Book</span>Viewer</h2>
            <div>
              <a href="./login.ejs" class="btn animate__animated animate__fadeInUp scrollto">Login</a>
              <a href="./register.ejs" class="btn animate__animated animate__fadeInUp scrollto">SignUp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
</body>
</html>

    
