<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <h1>login page</h1>
    <form action="./login.ejs" method="post">
        
        <label for="Useremail">Email</label>
        <input type="email" name="useremail" id="Useremail" required>
        <br>
        <br>
        <label for="Userpass">Password</label>
        <input type="password" name="pass" id="Userpass" required>
        <br><br>
        <input type="submit" name="login" id="">

    </form>
    <br><br>
</body>
</html> -->
<!-- <!DOCTYPE html>    
<html>    
    <head>    
        <title>Login Form</title>    
        <link rel="stylesheet" type="text/css" href="loginStyle.css">  
   
    </head>    
<body>    
    <h2>Login Page</h2><br>    
    <div class="login">    
       <p id="msg"><%= msg%></p> 
        <form id="login" method="post" action="./login.ejs">    
        <label><b>User Name     
        </b>    
    </label>    
    <input type="text" name="useremail" id="Uname" placeholder="Username">    
    <br><br>    
        <label><b>Password     
        </b>    
    </label>    
    <input type="Password" name="pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input  type="submit"  id="log" value="Log In Here">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        <a href="./register.ejs">register</a> <a href="#">Forgot Password</a>    
    </form>     
    <script src="login.js"></script>
</div>    
</body>    
</html>      -->

 

<!DOCTYPE html>
<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" type="text/css" href="loginStyle.css">

    </head>
<body>
    <div >
        <ol id="navbar">
            <li id="home" class="page">Home</li>
            <li id="AboutUs" class="page">AboutUs</li>
            <li id="reg" class="page">SignUp</li>
        </ol>
    </div>
    <h2>Login Page</h2><br>
    <div class="login">
       <p id="msg"><%= msg%></p> 
        <form id="login" method="post" action="./login.ejs">
        <label><b>User Name
        </b>
    </label>
    <input type="text" name="useremail" id="Uname" placeholder="Username">
    <br><br>
        <label><b>Password
        </b>
    </label>
    <input type="Password" name="pass" id="Pass" placeholder="Password">
        <br><br>
        <input  type="submit"  id="log" value="Log In Here">
        <br><br>
        
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
        <a class="my-button" title="Relevant Title" href="admin.ejs">Admin Login</a><a class="my-button" title="Relevant Title" href="register.ejs">Sign Up</a>
            <br><br>
        
       
        <!-- <a href="./register.ejs">register</a>  -->
    </form>
    <script src="login.js"></script>
</div>
</body>
</html>